/* Chrome-Like Light & Dark Theme */
:root {
    --bg-color: #202124;
    --container-bg: #292a2d;
    --text-color: #e8eaed;
    --input-bg: #3c4043;
    --input-border: #5f6368;
    --button-bg: #002b36;
    --button-hover: #003842;
    --button-active: #001b23;
    --shadow-color: rgba(255, 255, 255, 0.1);
}

/* Global Styles */
body {
    font-family: 'Robota', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 20px;
}

/* Title */
h1 {
    font-size: 1.5rem;
    font-weight: 500;
}

/* Container */
.container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px var(--shadow-color);
    background-color: var(--container-bg);
}

span {
    margin: 4px;
}

/* Input Field */
input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid var(--input-border);
    border-radius: 4px;
    background-color: var(--input-bg);
    color: var(--text-color);
    font-size: 1rem;
    outline: none;
    transition: border 0.2s ease-in-out, box-shadow 0.2s;
}

input:focus {
    border-color: var(--button-bg);
    box-shadow: 0 0 4px var(--button-bg);
    background-color: var(--input-bg);
    /* Ensure background doesn't turn white */
}

.message {
    color: #ff4d4d;
    font-size: 14px;
    margin-top: 1px;
    margin-bottom: 12px;
    display: none;
}

/* Button Row */
.button-row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    gap: 10px;
}

/* Chrome-Like Material Buttons */
.button-row button {
    padding: 12px;
    font-size: 1rem;
    font-weight: 500;
    background-color: var(--button-bg);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    transition: background-color 0.2s ease-in-out, box-shadow 0.2s;
    box-shadow: 0px 2px 4px var(--shadow-color);
    text-align: center;

}

.button-row button:hover {
    background-color: var(--button-hover);
}

.button-row button:active {
    background-color: var(--button-active);
    box-shadow: 0 2px 4px var(--shadow-color) inset;
}

.disclaimer-container {
    margin-top: 20px;
}

.disclaimer-container button {
    background-color: var(--bg-color);
    color: gainsboro;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 12px;
}

.disclaimer-container button:hover {
    background-color: var(--bg-color);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 12px;
}

.disclaimer-content {
    display: none;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #222;
    color: #5f6368;
}
